.addPlantComp{
    background-color: rgba(11, 181, 11, 0.315);
    height: 100vh;
    text-align: center;
}

#addForm{
    display: inline-block;
    text-align: left;
    width: fit-content;
}
input{
    margin-bottom: 5px;
}
#instructions{
    height: 100px;
    width: 500px;
}

#prevAdd{
    border: 1px solid black;
    display: inline-block;
    height: fit-content;
    width: 900px;
    text-align: left;
}
