.addPlantComp{
    background-color: lightGreen;
    height: 100%;
    text-align: center;
}

#addForm{
    display: inline-block;
    text-align: left;
    width: fit-content;
}
input{
    margin-bottom: 5px;
}
#instructions{
    height: 100px;
    width: 500px;
}

#addedGrid{
    background-color: rgba(0, 128, 0, 0.314);
    width: 70%;
    position: relative;
    left: 16%;
    border-radius: 10px;
}
.addedItem{
    position: relative;
    right: .75%;
    top: -7px;
}