.cartComponent{
    background-color: rgba(11, 181, 11, 0.315);
    padding: 0;
    margin: 0;
    height: 100vh;   
}
#title{
    text-align: left;
    margin: 5px
}
#cartDisplay{
    text-align: left;   
    width: fit-content;
    position: relative;
    left: 40%;
}
#cartContents{
    border: 1px solid black;
    width: 400px;
}
.itemContainer{
    height: 120px;
    width: 435px;
    position: relative;
    right: 10%;
}
.cartItem{
    border-bottom: 1px solid gray;
    height: 120px;
}
.cartItem img{
    border-radius: 100%;
    scale: .40;
    position: relative;
    top: -65px;
    right: 60px;
}
.cartItem p{
    font-size: 17px;
    margin-top: -5px;
    width: fit-content;
    position: relative;
    top: -25vh;
    left: 30%;
}
.remove{
    margin: 0;
    width: fit-content;
    position: relative;
    top: -80px;
    left: 90%;
}
.remove:hover{
    cursor: pointer;
}
#checkout{
    height: 60vh;
    margin: 5px;
    position: relative;
    top: -19px;
    right: 5px;
    z-index: 100;
}
.back{
    position: relative;
    top: -59vh;
    left: 92vh;
    z-index: 200;
}