#title{
    text-align: left;
    margin: 5px
}
#cartDisplay{
    text-align: left;
    display: inline-block;
    width: 200px;
    position: relative;
    left: 40%;
}
#cartContents{
    border: 1px solid black;
    width: 130%;
}
.cartItem{
    width: fit-content;
    height: 120px;
    margin-top: 5px;
    position: relative;
    right: 45px;
}
.cartItem img{
    border-radius: 100%;
    scale: .40;
    position:relative;
    top: -75px;
    right: 60px;
}
.cartItem p{
    font-size: 17px;
    margin-top: -5px;
    position: relative;
    left: 50%;
    top: -25vh;
}
#removeItem{
    position: relative;
    top: -280%;
    left: 111%;
}
#name{
    width: 140px;
}