#title{
    text-align: left;
    margin: 5px
}
#cartDisplay{
    text-align: left;
    display: inline-block;
    width: fit-content;
    position: relative;
    left: 40%;
}
#cartContents{
    border: 1px solid blue;
    border: 1px solid black;
    width: 400px;
}
.cartItem{
    margin: -10px;
    border-bottom: 1px solid gray;
    width: 440px;
    height: 115px;
    position: relative;
    top: 16px;
    right: 30px;
}
.cartItem img{
    border-radius: 100%;
    scale: .40;
    position:relative;
    top: -68px;
    right: 60px;
}
.cartItem p{
    font-size: 17px;
    margin-top: -5px;
    position: relative;
    left: 30%;
    top: -25vh;
}
.remove{
    margin: 0;
    width: fit-content;
    position: relative;
    top: -80px;
    left: 90%;
}
.remove:hover{
    cursor: pointer;
}
#checkout{
    margin: 5px;
}