.cartCards{
    position: relative;
    right: 4.2vh;
    height: 13vh;
    width: 400px;
}
.cardContent{
    width: 180px;
    position: relative;
    left: 15vh;
    top: -11vh;
}
.plantImg{
    position: relative;
    top: 1vh;
    left: 1vh;
}
.deleteBtn{
    scale: 1.2;
    position: relative;
    top: -20vh;
    left: 33vh;
}