.detailsContent{
    height: 100vh;
    background-color: lightGreen;
}
.flowerImg{
    width: 400px;
    height: 400px;
    border-style:outset;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
    position: relative;
    top: 5vh;
    left: -8%;
}
.details{
    position: relative;
    width: 30%;
}
.addToCartForm, .details{
    position: relative;
    top: -40vh;
    left: 60vh;
}
.addToCartForm input{
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    margin-right: 3%;
    font-size: larger;
}
.addToCartForm button{
    width: fit-content;
    color: rgba(255, 255, 255, 0.816);
    background: black;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    font-size: large;
}
.backBtn{
    position: absolute;
    top: -38vh;
    left: 10vh;
}
button, p  :hover{
    cursor: pointer;
}
.edit{
    position: relative;
    top: -10vh;
    left: 90%;
} 