.card{
    border-radius: 10px;
    height: 350px;
    margin: 12%;
}
.cardMedia{
    border-bottom: 1px solid darkgreen;
}
.card:hover{
    border-bottom: 1px solid black;
    border-bottom: 3px solid rgba(0, 0, 0, 0.578);
    border-left: 1px solid rgba(0, 0, 0, 0.578);
} 
/* 
*/