.card{
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 250px;
    margin: 10px;
    transition: 300ms;
}
.card:hover{
    scale: 1.1;
}
img{
    border-radius: 10%;
    height: 250px;
    width: 250px;
}
p{
    margin-left: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.namePriceContainer{
    background-color: rgba(255, 255, 255, 0.7);
    height: 40px;
    position: relative;
    bottom: 60px;
    z-index: 1000;
}