#updateFormContainer{
    display: none;
    background: rgba(0, 0, 0, 0.591);
    height: 100%;
    width: 100%;
    position: absolute;
    top: -1px;
}
#updateForm{
    scale: 1.2;
    width: fit-content;
    position: relative;
    top: 20%;
    left: 40%;
}
